body {
    padding-top: 0px;
    padding-bottom: 0px;
    /*background: linear-gradient(85deg, #000000 12%, rgba(255, 255, 255, 0.00) 90.1%), url("Pictures/people-at-concert-1105666.jpg");*/
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(85deg, #000000 2%, rgba(255, 255, 255, 0.00) 90.2%), url("Pictures/girl-sitting-on-smiling-man-s-shoulder-13788661.jpg");
}

html {
    overflow-y: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@font-face {
    font-family: 'AmaticSC-Bold';
    src: url('AmaticFont/AmaticSC-Bold.ttf') format('truetype');
}

.jumbotron_comment h1 {
    font-weight: 500;
}

.jumbotron_comment  {
    background-color: rgba(255, 255, 255, 0.52);
    padding-top: 20px;
    padding-bottom:20px;
    margin-top: 50px;
}
    .jumbotron_top h1 {
        font-weight: 500;
    }

.jumbotron_top {
    background-color: rgba(255, 255, 255, 0.52);
    padding-top: 20px;
    padding-bottom: 20px;
}

.h1-other-font-big {
    font-family: AmaticSC-Bold;
    font-size: 45px;
    letter-spacing: 0.06em;
    /*font-weight: bold;*/
}

.h1-other-font-big-sidemenu {
    font-family: AmaticSC-Bold;
    font-size: 50px;
    /*font-weight: bold;*/
}


.show-hide {
    font-family: AmaticSC-Bold;
    font-size: 25px;
}

.show-hide-button{
    padding: 0px 10px 0px 10px;
    margin: 0px;
}
.h1-other-font {
    font-family: AmaticSC-Bold;
}

.text-white{
    color: white !important; 
}



.progress {
    height: 45px;
    margin-bottom: 20px;
}

.skill {
    font-family: AmaticSC-Bold;
    font-size: 30px;
    color: white;
}
    .progress .skill {
        font-family: AmaticSC-Bold;
        font-size: 30px;
        line-height: 45px;
        padding: 0;
        margin: 0 0 0 20px;
        text-transform: uppercase;
    }

        .progress .skill .val {
            float: right;
            font-style: normal;
            margin: 0 20px 0 0;
        }

.progress-bar {
    text-align: left;
    transition-duration: 14s;
}


.hover-donation:hover {
    /*background-color: rgba(255, 216, 0, 0.74);*/
    height: 80px;
    width: 80px;
    transition: 1.0s;
    border-radius: 50%;
    -moz-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.99);
    -webkit-box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.99);
    box-shadow: inset 0 0 70px rgba(0, 0, 0, 0.99);
}
.hover-donation {
    background-color: rgba(255, 255, 255, 0.00);
    height: 80px;
    width: 80px;
    transition: 1.0s;
    border-radius: 50%;
}

.absolute-donation{
    position:absolute;
}

.container-fluid {
    overflow: hidden;
}

.border-bottom {
    border-bottom: rgba(255, 216, 0, 0.00) !important;
}

.bg-light {
    background-color: rgba(255, 216, 0, 0.00) !important;
}

.border-right {
    border-right: 7px solid rgb(0, 146, 255) !important;
}
a.bg-light:hover, a.bg-light:focus, button.bg-light:hover, button.bg-light:focus {
    background-color: rgba(178, 181, 183, 0.35) !important;
}


#sidebar-wrapper {
    /*background-color:white !important;*/
    background-repeat: repeat;
    /*background-image: url('symphony/symphony.png');*/
}

.border-right {
    border-right: 7px solid white !important;
} 

    #sidebar-wrapper .sidebar-heading {
        padding: 5.875rem 1.25rem !important;
        font-size: 2rem !important;
        text-align: center;
        word-wrap: break-word;
        background: url(Pictures/napis9.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 50px;
        margin-bottom: 50px;
    }

.list-group-flush a:hover {
    padding-top: 19px;
    padding-bottom: 19px;
    transition: 0.7s;
    color:white;
}
.list-group-flush a {
    transition: 0.5s;
    font-family: AmaticSC-Bold;
    font-size: 30px;
    /*color: black;*/
    text-align: center;
    color: white;
}



    /*#sidebar-wrapper .sidebar-heading {
        text-align: center;
        font-size: 3rem;
    }

.toggled#wrapper #sidebar-wrapper {
    margin-left: -21rem;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0px;
    }
}

@media (max-width: 767px) {
    .toggled#wrapper #sidebar-wrapper {
        margin-left: 0rem;
    }
}

#sidebar-wrapper .list-group {
    width: 100%;
}*/



.nopulse {
  margin: 100px;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0, 0.4);
  border: 4px solid #FFFFFF;
  position: relative;
  background-color: transparent;
}
.pulse3 {
 top: 49%;
 left: 49%;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(0,0,0, 0.0);
  animation: pulse3 2s infinite;
  border: 1px dotted rgba(255, 0, 0, .0);
  position: absolute;
}

.pulse-img {
    cursor: pointer;
    background-color: rgba(0, 146, 255, 0.60);
    animation: pulse-img 2s infinite;
    /*border: 1px dotted rgba(255, 0, 0, .0);*/
    transition: 2.0s;
}

.pulse4 {
    top: 49%;
    left: 49%;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(0,0,0, 0.0);
    animation: pulse4 2s infinite;
    border: 1px dotted rgba(255, 0, 0, .0);
    position: absolute;
}
/*p1 {
   position: absolute;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   font-size: 200%; 
  color: white;
  font-weight: bold;
   animation: pulse12 2s infinite;

}*/

.p1 {
    transform: translate(-50%, -50%);
    font-size: 200%;
    color: white;
    font-weight: bold;
    animation: pulse-donation-text 2s infinite;
}
 
.pulse3:hover {
    animation: none;
}

.pulse-img:hover {
    animation: none;
    -moz-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
    -webkit-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
}

.hover-field-donation:hover .pulse-img {
    animation: none;
    -moz-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
    -webkit-box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
    box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.92);
}
.pulse4:hover {
    animation: none;
}
@-webkit-keyframes pulse-img {
    0% {
        -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
    }

    70% {
        -moz-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
        -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
        box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
    }

    100% {
        -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
    }
}

@keyframes pulse-img {
    0% {
        -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
    }

    70% {
        -moz-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
        -webkit-box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
        box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.92);
    }

    100% {
        -moz-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
        box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.99);
    }
}


@-webkit-keyframes pulse3 {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
  }
  70% {
      -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, .0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
  }
}
@keyframes pulse3 {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .9);
  }
  70% {
      -moz-box-shadow: 0 0 0 55px rgba(255, 255, 255, .0);
      box-shadow: 0 0 0 55px rgba(255, 255, 255, .0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
      box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
  }
}


@-webkit-keyframes pulse4 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
    }

    70% {
        -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, .0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
    }
}

@keyframes pulse4 {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .9);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .9);
    }

    70% {
        -moz-box-shadow: 0 0 0 55px rgba(255, 255, 255, .0);
        box-shadow: 0 0 0 55px rgba(255, 255, 255, .0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .0);
    }
}
p:hover {
  animation: none;
}

@-webkit-keyframes pulse-donation-text {
    0% {
        font-size: 100%;
    }

    70% {
        font-size: 120%;
    }

    100% {
        font-size: 100%;
    }
}
@keyframes pulse-donation-text {
    0% {
        font-size: 100%;
    }

    70% {
        font-size: 120%;
    }

    100% {
        font-size: 100%;
    }
}


@-webkit-keyframes pulse12 {
    0% {
        font-size: 200%;
    }

    70% {
        font-size: 300%;
    }

    100% {
        font-size: 200%;
    }
}

@keyframes pulse12 {
    0% {
        font-size: 200%;
    }

    70% {
        font-size: 300%;
    }

    100% {
        font-size: 200%;
    }
}

/*template*/

#info-demo {
    position: fixed;
    right: 0px;
    top: 30%;
    background-color: rgba(0, 102, 235, 0.62);
    writing-mode: vertical-rl;
    text-align: center;
    width: auto;
    height: auto;
    padding: 15px 3px 15px 3px;
    color: white;
    font-size: 20px;
    margin: -2.5em 0 0 0;
    font-weight: bold;
    border-radius: 1em 0em 0em 1em;
    cursor: default;
}

    #info-demo:hover {
        background-color: rgb(13, 104, 221);
        -webkit-box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
        box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
    }

#info-site {
    position: fixed;
    right: 0px;
    top: 70%;
    background-color: rgba(108, 167, 8, 0.62);
    writing-mode: vertical-rl;
    text-align: center;
    width: auto;
    height: auto;
    padding: 15px 3px 15px 3px;
    color: white;
    font-size: 20px;
    margin: -2.5em 0 0 0;
    font-weight: bold;
    border-radius: 1em 0em 0em 1em;
   
}

    #info-site:hover {
        background-color: rgb(103, 164, 0);
        -webkit-box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
        -moz-box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
        box-shadow: -11px 0px 64px 5px rgba(0,0,0,0.25);
    }

#div-bolid {
    position: fixed;
    top: 30%;
    z-index: 5555;
    padding-top: 250px;
}

@media only screen and (max-height: 650px) {
    #info-site {
        display: none;
    }
}


.toppageinfo {
    background-color: rgba(0, 0, 0, 0.38);
    color: #FFF;
    position: relative;
}

.toppageinfotext {
    display: inline-block;
    padding: 20px;
    width: 100%;
    padding-right: 20px;
}


.toppageinfoblock h4
{
    padding:10px;
    margin:0px;
}


@media (min-width: 1560px) {
    .toppageinfoblock {
        background-color: rgba(0, 146, 255, 0.60);
        writing-mode: vertical-rl;
        color: white;
        cursor: default;
        text-align: center;
        display: inline-block;
        float: right;
        height: 100%;
        position: absolute;
        border-radius: 0em 1em 1em 0em;
        margin-right: 0px;
        display: inline;
        letter-spacing: 0.14em;
    }
}


@media (max-width: 1559px) {
    .toppageinfoblock {
        background-color: rgba(65, 255, 0, 0.60);
        writing-mode: vertical-rl;
        color: white;
        cursor: default;
        text-align: center;
        display: inline-block;
        float: right;
        height: 100%;
        position: absolute;
        border-radius: 0em 1em 1em 0em;
        margin-right: 0px;
        display: none;
        letter-spacing: 0.14em;
    }
}
.progress-bar-striped {
    background-size: 1rem 1rem !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
    vertical-align: middle;
    text-align: center;
}

.progress {
    background-color: #00000070 !important;
}